.work-item .mask{
    width: 100%;
    height: 250px;
    overflow: hidden;
    min-width: 230px;
    border:1px solid #ccc;
    box-shadow: 0px 5px 15px #ddd;
    
    
}


.works{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    

    animation-duration: 1.3s;
    animation-name: opacity;

}

@keyframes opacity {
    from{
        opacity: 0;
        top: 20px;
    }
    to{
        opacity: 1;
        top: 0;
    }
}

.work-item{
    width: 400px;
    margin: 30px;
    flex-grow: 1;


}

.work-item img{
    width: 130%;
    margin-left: -50px;
    overflow: hidden;
    transition: all 700ms;
}

@media(max-width: 488px){
    .work-item .mask{
        height: 150px;
    }
}


.work-item .mask img:hover{
    width: 160%;
    
}

.work-item span{
    color: gray;
    margin-top: 25px;
    display: block;
}


.work-item h2{
    display: block;
    color: black;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.work-item a{
    color: black;
    text-decoration: none;
    transition: all 300ms;
}

.work-item a:hover{
    color: #fa4529;
}

.work-item h3{
    display: block;
    color: gray;
    margin-top: 1;
    padding-top: 15px;
    border-top: 1px solid #ddd ;
}